/* body{
    background-color: aqua;
}

#hello{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    border: 20px black dotted;
} */